// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$color-green: rgb(95,187,126);
$white:#fff;

$gray-600: #6c757d;
$gray-500: #adb5bd;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info:$cyan;
$warning:$yellow;
$danger:$red;